<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.team.repository.TeamRepository">

    <sql id="SelectDomainProperties" >
        SELECT TEAM_SEQ
             , LEADER_USER_SEQ
             , TEAM_NAME
             , TEAM_IMAGE_PATH
             , HOMETOWN
             , INTRODUCTION
             , FOUNDATION_YMD
             , REG_DATE
             , UPDATE_DATE
             , SIDO_CODE
             , SIGUNGU_CODE
          FROM TEAM
         WHERE 1=1
    </sql>

    <select id="findByTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.team.domain.Team">
        /* TeamRepository.findByTeamSeq */
        <include refid="SelectDomainProperties" />
           AND TEAM_SEQ = #{teamSeq}
    </select>

    <insert id="saveTeam" parameterType="com.threeNerds.basketballDiary.mvc.team.domain.Team" useGeneratedKeys="true" keyProperty="teamSeq">
        /* TeamRepository.saveTeam */
        <selectKey keyProperty="teamSeq" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TEAM (
               LEADER_USER_SEQ
             , TEAM_NAME
             , TEAM_IMAGE_PATH
             , HOMETOWN
             , INTRODUCTION
             , FOUNDATION_YMD
             , REG_DATE
             , UPDATE_DATE
             , SIDO_CODE
             , SIGUNGU_CODE
        )
        VALUES (
               #{leaderUserSeq}
             , #{teamName}
             , #{teamImagePath}
             , #{hometown}
             , #{introduction}
             , #{foundationYmd}
             , #{regDate}
             , #{updateDate}
             , #{sidoCode}
             , #{sigunguCode}
        )
    </insert>

    <update id="updateTeam" parameterType="com.threeNerds.basketballDiary.mvc.team.domain.Team">
        UPDATE TEAM
           SET LEADER_USER_SEQ = #{leaderUserSeq}
             , TEAM_IMAGE_PATH = #{teamImagePath}
             , TEAM_NAME = #{teamName}
             , HOMETOWN = #{hometown}
             , INTRODUCTION = #{introduction}
             , FOUNDATION_YMD = #{foundationYmd}
             , UPDATE_DATE = #{updateDate}
             , SIDO_CODE = #{sidoCode}
             , SIGUNGU_CODE = #{sigunguCode}
         WHERE 1=1
           AND TEAM_SEQ = #{teamSeq}
    </update>

    <delete id="deleteById">
        DELETE FROM TEAM
         WHERE 1=1
           AND TEAM_SEQ = #{teamSeq}
    </delete>

</mapper>