<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.myTeam.repository.TeamMemberRepository">
    <sql id="AllProperties">
          TEAM_MEMBER_SEQ
        , TEAM_SEQ
        , USER_SEQ
        , MEMBER_IMAGE_PATH
        , JOIN_YMD
        , TEAM_AUTH_CODE
        , BACK_NUMBER
        , WITHDRAWAL_YN
    </sql>

    <select id="findAllJoinTeamsByUserSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.domain.TeamMember">
        /* TeamMemberRepository.findAllJoinTeamsByUserSeq */
        SELECT
        <include refid="AllProperties"/>
          FROM TEAM_MEMBER
         WHERE 1=1
           AND USER_SEQ      = #{userSeq}
           AND WITHDRAWAL_YN = 'N'
    </select>

    <select id="findTeamMember" resultType="com.threeNerds.basketballDiary.mvc.myTeam.domain.TeamMember">
        /* TeamMemberRepository.findTeamMember */
        SELECT
        <include refid="AllProperties"/>
          FROM TEAM_MEMBER
         WHERE 1=1
           AND TEAM_SEQ = #{teamSeq}
           AND USER_SEQ = #{userSeq}
           AND WITHDRAWAL_YN = 'N'
    </select>

    <select id="findByTeamMemberSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.domain.TeamMember">
        /* TeamMemberRepository.findByTeamMemberSeq */
        SELECT
        <include refid="AllProperties"/>
          FROM TEAM_MEMBER
         WHERE 1=1
           AND TEAM_MEMBER_SEQ = #{teamMemberSeq}
           AND WITHDRAWAL_YN = 'N'
    </select>

    <select id="findTeamMemberByUserAndTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.domain.TeamMember">
        /* TeamMemberRepository.findTeamMemberByUserAndTeamSeq */
        SELECT
        <include refid="AllProperties"/>
          FROM TEAM_MEMBER
         WHERE 1=1
           AND USER_SEQ = #{userSeq}
           AND TEAM_SEQ = #{teamSeq}
           AND WITHDRAWAL_YN = 'N'
    </select>

    <insert id="saveTeamMember" parameterType="com.threeNerds.basketballDiary.mvc.myTeam.domain.TeamMember">
        /* TeamMemberRepository.saveTeamMember */
        INSERT INTO TEAM_MEMBER (
               TEAM_SEQ
             , USER_SEQ
             , TEAM_AUTH_CODE
             , JOIN_YMD
             , WITHDRAWAL_YN
        )
        VALUES (
               #{teamSeq}
             , #{userSeq}
             , #{teamAuthCode}
             , #{joinYmd}
             , #{withdrawalYn}
        )
    </insert>

    <update id="updateWithdrawalState">
        /* TeamMemberRepository.updateWithdrawalState */
        UPDATE TEAM_MEMBER
           SET WITHDRAWAL_YN   = #{withdrawalYn}
         WHERE TEAM_MEMBER_SEQ = #{teamMemberSeq}
    </update>

    <update id="updateTeamAuth">
        /* TeamMemberRepository.updateTeamAuth */
        UPDATE TEAM_MEMBER
           SET TEAM_AUTH_CODE = #{teamAuthCode}
         WHERE TEAM_MEMBER_SEQ = #{teamMemberSeq}
           AND WITHDRAWAL_YN = 'N'
    </update>

    <update id="updateMyTeamProfile">
        /* TeamMemberRepository.updateMyTeamProfile */
        UPDATE TEAM_MEMBER
           SET BACK_NUMBER       = #{backNumber}
             , MEMBER_IMAGE_PATH = #{memberImagePath}
         WHERE 1=1
        <choose>
            <when test='null != teamMemberSeq'>
           AND TEAM_MEMBER_SEQ = #{teamMemberSeq}
            </when>
            <otherwise>
           AND USER_SEQ = #{userSeq}
           AND TEAM_SEQ = #{teamSeq}
            </otherwise>
        </choose>
    </update>

    <delete id="deleteTeamMemberByUserSeqAndTeamSeq">
        /* TeamMemberRepository.deleteTeamMemberByUserSeqAndTeamSeq */
        DELETE
          FROM TEAM_MEMBER
         WHERE 1=1
           AND USER_SEQ = #{userSeq}
           AND TEAM_SEQ = #{teamSeq}
    </delete>

    <delete id="deleteAllByTeamSeq">
        /* TeamMemberRepository.deleteAllByTeamSeq */
        DELETE
          FROM TEAM_MEMBER
         WHERE 1=1
           AND TEAM_SEQ = #{teamSeq}
    </delete>

</mapper>
