<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROOT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[ %d{yyyyMMdd HH:mm:ss.SSS} ] [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="jdbc" level="OFF"/>

    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <root level="info">
        <appender-ref ref="ROOT_CONSOLE" />
    </root>

    <!-- 개발 환경(dev) 로그 설정 -->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="ROOT_CONSOLE"/>
<!--            <appender-ref ref="FILE_DEV"/>-->
        </root>
    </springProfile>

    <!-- 운영 환경(prod) 로그 설정 -->
    <springProfile name="prd">
        <root level="warn">
            <appender-ref ref="ROOT_CONSOLE"/>
<!--            <appender-ref ref="FILE_PROD"/>-->
        </root>
    </springProfile>

</configuration>
