<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.TeamJoinRequestRepository">

    <insert id="createJoinRequest" parameterType="com.threeNerds.basketballDiary.mvc.domain.TeamJoinRequest">
        INSERT INTO TEAM_JOIN_REQUEST (
            TEAM_SEQ
            , USER_SEQ
            , JOIN_REQUEST_TYPE_CODE
            , JOIN_REQUEST_STATE_CODE
            , REQUEST_DATE
            , CONFIRMATION_DATE
        )
        VALUES (
            #{teamSeq}
            , #{userSeq}
            , #{joinRequestTypeCode}
            , #{joinRequestStateCode}
            , CURRENT_TIMESTAMP
            , CURRENT_TIMESTAMP
        )
    </insert>

</mapper>