<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.UserRepository">

    <insert id="saveUser">
        INSERT INTO USER(USER_ID,PWD,NAME,EMAIL,REG_DATE,UPDATE_DATE,USER_REG_YN,GENDER,HEIGHT,WEIGHT,SIDO_CODE,SIGUNGU_CODE,POSITION_CODE)
        VALUES(#{userId},#{password},#{userName},#{email},#{regDate},#{updateDate},#{userRegYn},#{gender},#{height},#{weight},#{sidoCode},#{sigunguCode},#{positionCode})
    </insert>

</mapper>