<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.myTeam.repository.MyTeamRepository">

    <select id="findByUserSeqAndTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MyTeamDTO">
        SELECT A.TEAM_SEQ
             , A.TEAM_AUTH_CODE -- 팀정보 수정 권한을 위해
             , B.TEAM_NAME
             , B.TEAM_IMAGE_PATH
             , B.HOMETOWN
             , B.SIDO_CODE
             , B.SIGUNGU_CODE
             , B.INTRODUCTION
             , B.FOUNDATION_YMD
        FROM (SELECT * FROM TEAM_MEMBER WHERE WITHDRAWAL_YN != 'Y') A
                 JOIN TEAM B
                      ON A.TEAM_SEQ = B.TEAM_SEQ
        WHERE A.USER_SEQ = #{userSeq}
          AND A.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findPagingMyTeams" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MyTeamDTO">
        /* myTeamRepository.findPagingMyTeams */
        SELECT *
        FROM ( SELECT COUNT(*) OVER() TOTAL_COUNT
                    , A.TEAM_SEQ
                    , A.TEAM_AUTH_CODE
                    , B.TEAM_NAME
                    , B.TEAM_IMAGE_PATH
                    , B.HOMETOWN
                    , B.SIDO_CODE
                    , B.SIGUNGU_CODE
                    , B.INTRODUCTION
                    , B.FOUNDATION_YMD
                    , (SELECT COUNT(TEAM_MEMBER_SEQ)
                         FROM TEAM_MEMBER
                        WHERE 1=1
                          AND TEAM_SEQ = A.TEAM_SEQ
                          AND WITHDRAWAL_YN != 'Y'
                       ) AS TOT_MEMBER
                 FROM (SELECT *
                        FROM TEAM_MEMBER
                        WHERE 1=1
                        AND WITHDRAWAL_YN != 'Y'
                        AND USER_SEQ = #{userSeq}) A
                INNER JOIN TEAM B
                   ON A.TEAM_SEQ = B.TEAM_SEQ
        ) ORDERS LIMIT #{pagerDTO.rowCount} OFFSET #{pagerDTO.offset}
    </select>

    <select id="findProfileByUserSeqAndTeamSeqOld" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        SELECT A.USER_SEQ
        , B.TEAM_SEQ
        , A.NAME 			"USER_NAME"
        , C.TEAM_NAME
        , A.POSITION_CODE
        , B.TEAM_AUTH_CODE
        , B.TEAM_MEMBER_SEQ
        , B.JOIN_YMD
        , A.HEIGHT
        , A.WEIGHT
        , B.BACK_NUMBER
        , IFNULL(D.TOT_MATCH, 0) TOT_GAME
        FROM USER A
        LEFT JOIN TEAM_MEMBER B
        ON A.USER_SEQ = B.USER_SEQ
        JOIN TEAM C
        ON B.TEAM_SEQ = C.TEAM_SEQ
        LEFT JOIN (SELECT TEAM_MEMBER_SEQ, COUNT(*) AS "TOT_MATCH"
        FROM GAME_JOIN_PLAYER
        GROUP BY TEAM_MEMBER_SEQ) D
        ON B.TEAM_MEMBER_SEQ = D.TEAM_MEMBER_SEQ
        WHERE A.USER_SEQ = #{userSeq}
        AND B.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findProfileByUserSeqAndTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        SELECT TM.USER_SEQ
             , TM.TEAM_SEQ
             , TM.TEAM_MEMBER_SEQ
             , TM.TEAM_AUTH_CODE
             , TM.JOIN_YMD
             , TM.BACK_NUMBER
             , T.TEAM_NAME
             , U.NAME
               AS  "USER_NAME"
             , U.HEIGHT
             , U.WEIGHT
             , U.POSITION_CODE
             , IFNULL(GJP.TOT_MATCH, 0) TOT_GAME
          FROM TEAM_MEMBER TM
         INNER JOIN TEAM T
            ON TM.TEAM_SEQ = T.TEAM_SEQ
         INNER JOIN USER U
            ON TM.USER_SEQ = U.USER_SEQ
          LEFT JOIN (SELECT GAME_JOIN_TEAM_SEQ
                          , USER_SEQ
                          , COUNT(*) AS "TOT_MATCH"
                       FROM GAME_JOIN_PLAYER
                      WHERE 1=1
                        AND USER_SEQ           = #{userSeq}
                        AND GAME_JOIN_TEAM_SEQ = #{teamSeq}
                      GROUP BY GAME_JOIN_TEAM_SEQ) GJP
            ON TM.USER_SEQ = GJP.USER_SEQ
         WHERE TM.USER_SEQ = #{userSeq}
           AND TM.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findAllManagerByTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        SELECT A.USER_SEQ
             , B.TEAM_MEMBER_SEQ
             , B.TEAM_SEQ
             , B.TEAM_AUTH_CODE
             , A.NAME       "USER_NAME"
             , A.BIRTH_YMD
             , A.HEIGHT
             , A.WEIGHT
             , B.BACK_NUMBER
             , B.JOIN_YMD
             , A.POSITION_CODE
        FROM USER A
                 JOIN TEAM_MEMBER B
                      ON A.USER_SEQ = B.USER_SEQ
        WHERE B.TEAM_AUTH_CODE > 1 -- 관리자(임원) 이상 조회
          AND B.WITHDRAWAL_YN != 'Y'
          AND B.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findAllMemberByTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        SELECT A.USER_SEQ
             , B.TEAM_MEMBER_SEQ
             , B.TEAM_SEQ
             , B.TEAM_AUTH_CODE
             , A.NAME   "USER_NAME"
             , A.BIRTH_YMD
             , A.HEIGHT
             , A.WEIGHT
             , B.BACK_NUMBER
             , B.JOIN_YMD
             , A.POSITION_CODE
             , IFNULL(C.TOT_MATCH, 0) TOT_GAME
        FROM USER A
                 JOIN TEAM_MEMBER B
                      ON A.USER_SEQ = B.USER_SEQ
                 LEFT JOIN (SELECT USER_SEQ
                                 , COUNT(*) AS "TOT_MATCH"
                              FROM GAME_JOIN_PLAYER
                             WHERE 1=1
                               AND GAME_JOIN_TEAM_SEQ = #{teamSeq}
                             GROUP BY GAME_JOIN_TEAM_SEQ, USER_SEQ) C
                        ON B.USER_SEQ = C.USER_SEQ
        WHERE B.TEAM_AUTH_CODE <![CDATA[<]]> 2 -- 관리자(임원) 이상 조회
          AND B.WITHDRAWAL_YN != 'Y'
          AND B.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findPagingMemberByTeamSeq" parameterType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        SELECT *
          FROM (
                SELECT COUNT(*) OVER() TOTAL_COUNT
                     , A.USER_SEQ
                     , B.TEAM_MEMBER_SEQ
                     , B.TEAM_SEQ
                     , B.TEAM_AUTH_CODE
                     , A.NAME "USER_NAME"
                     , A.BIRTH_YMD
                     , A.HEIGHT
                     , A.WEIGHT
                     , A.POSITION_CODE
                     , B.BACK_NUMBER
                     , B.JOIN_YMD
                     , IFNULL(C.TOT_MATCH, 0) TOT_GAME
                  FROM USER A
                  JOIN TEAM_MEMBER B
                    ON A.USER_SEQ = B.USER_SEQ
                  LEFT JOIN (SELECT USER_SEQ
                                  , COUNT(*) AS "TOT_MATCH"
                               FROM GAME_JOIN_PLAYER
                              WHERE 1=1
                                AND GAME_JOIN_TEAM_SEQ = #{teamSeq}
                              GROUP BY GAME_JOIN_TEAM_SEQ, USER_SEQ) C
                    ON B.USER_SEQ = C.USER_SEQ
                 WHERE B.TEAM_AUTH_CODE <![CDATA[<]]> 2   /* 관리자(임원) 이상 조회 */
                   AND B.WITHDRAWAL_YN != 'Y'
                   AND B.TEAM_SEQ = #{teamSeq}
                 ORDER BY B.TEAM_AUTH_CODE DESC, A.NAME
               )
        ORDERS LIMIT #{pagerDTO.rowCount} OFFSET #{pagerDTO.offset}
    </select>


    <select id="findAllTeamMemberPaging" parameterType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO" resultType="com.threeNerds.basketballDiary.mvc.myTeam.dto.MemberDTO">
        /* MyTeamRepository.findAllTeamMemberPaging */
        SELECT *
          FROM (
                SELECT COUNT(*) OVER() TOTAL_COUNT
                     , U.USER_SEQ
                     , TM.TEAM_MEMBER_SEQ
                     , TM.TEAM_SEQ
                     , TM.TEAM_AUTH_CODE
                     , U.NAME  AS USER_NAME
                     , U.BIRTH_YMD
                     , U.HEIGHT
                     , U.WEIGHT
                     , U.POSITION_CODE
                     , TM.BACK_NUMBER
                     , TM.JOIN_YMD
                     , IFNULL(GJP.TOT_MATCH, 0) TOT_GAME
                  FROM TEAM_MEMBER TM
                 INNER JOIN USER U
                    ON TM.USER_SEQ = U.USER_SEQ
                  LEFT JOIN (
                             SELECT USER_SEQ
                                  , COUNT(*) AS "TOT_MATCH"
                               FROM GAME_JOIN_PLAYER
                              WHERE 1=1
                                AND GAME_JOIN_TEAM_SEQ = #{teamSeq}
                              GROUP BY GAME_JOIN_TEAM_SEQ, USER_SEQ
                             ) GJP
                    ON TM.USER_SEQ = GJP.USER_SEQ
                 WHERE 1=1
                   AND TM.WITHDRAWAL_YN != 'Y'
                   AND TM.TEAM_SEQ = #{teamSeq}
            <if test='userName != null and !"".equals(userName)'>
                AND U.NAME LIKE CONCAT( '%', #{userName}, '%' )
            </if>
                 ORDER BY TM.TEAM_AUTH_CODE DESC, U.NAME
              )
        ORDERS LIMIT #{pagerDTO.rowCount} OFFSET #{pagerDTO.offset}
    </select>

</mapper>