<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.UserRepository">

    <insert id="saveUser" parameterType="com.threeNerds.basketballDiary.mvc.domain.User"
        useGeneratedKeys="true" keyProperty="userSeq">
        INSERT INTO USER ( USER_ID
                         , PWD
                         , NAME
                         , EMAIL
                         , REG_DATE
                         , UPDATE_DATE
                         , USER_REG_YN
                         , GENDER
                         , HEIGHT
                         , WEIGHT
                         , SIDO_CODE
                         , SIGUNGU_CODE
                         , POSITION_CODE)
        VALUES ( #{userId}
               , #{password}
               , #{userName}
               , #{email}
               , #{regDate}
               , #{updateDate}
               , #{userRegYn}
               , #{gender}
               , #{height}
               , #{weight}
               , #{sidoCode}
               , #{sigunguCode}
               , #{positionCode})
    </insert>

    <select id="findSeq" resultType="long">
        SELECT USER_SEQ
        FROM USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="findUser" resultType="com.threeNerds.basketballDiary.mvc.domain.User">
        SELECT DISTINCT USER_SEQ
                      , USER_ID
                      , NAME AS USERNAME
                      , PWD AS PASSWORD
                      , EMAIL
                      , REG_DATE
                      , UPDATE_DATE
                      , USER_REG_YN
                      , GENDER
                      , BIRTH_YMD
                      , HEIGHT
                      , WEIGHT
                      , SIDO_CODE
                      , SIGUNGU_CODE
                      , POSITION_CODE
                      , ROADADDRESS
        FROM USER
        WHERE USER_SEQ=#{id}
    </select>

    <select id="findAllUser" resultType="com.threeNerds.basketballDiary.mvc.dto.user.user.UserDTO">
        SELECT USER_ID
             , NAME AS USERNAME
             , PWD AS PASSWORD
             , EMAIL
             , REG_DATE
             , UPDATE_DATE
             , USER_REG_YN
             , GENDER
             , HEIGHT
             , WEIGHT
             , SIDO_CODE
             , SIGUNGU_CODE
             , POSITION_CODE
        FROM USER
        WHERE NAME=#{userName} OR EMAIL=#{email}
    </select>

    <select id="loginFindUser" resultType="com.threeNerds.basketballDiary.mvc.domain.User">
        SELECT USER_SEQ
             , USER_ID
             , NAME AS USERNAME
             , PWD AS PASSWORD
             , EMAIL
             , REG_DATE
             , UPDATE_DATE
             , USER_REG_YN
             , GENDER
             , HEIGHT
             , WEIGHT
             , SIDO_CODE
             , SIGUNGU_CODE
             , POSITION_CODE
         FROM USER
        WHERE USER_ID   = #{userId}
          AND PWD       = #{password}
    </select>

    <select id="findAuthList" resultType="com.threeNerds.basketballDiary.mvc.dto.AuthUserRequestDTO">
        SELECT B.TEAM_SEQ
             , B.TEAM_AUTH_CODE
          FROM USER A
         INNER JOIN TEAM_MEMBER B
            ON A.USER_SEQ = B.USER_SEQ
         WHERE A.USER_SEQ = #{userSeq}
    </select>

    <update id="updateUser" parameterType="com.threeNerds.basketballDiary.mvc.dto.user.user.UpdateUserDTO">
        UPDATE USER
        SET NAME=#{userName}
          , EMAIL=#{email}
          , GENDER=#{gender}
          , HEIGHT=#{height}
          , WEIGHT=#{weight}
          , SIDO_CODE=#{sidoCode}
          , SIGUNGU_CODE=#{sigunguCode}
          , POSITION_CODE=#{positionCode}
          , ROADADDRESS=#{roadAddress}
        WHERE USER_SEQ=#{userSeq}
    </update>

    <delete id="deleteUser">
        DELETE FROM USER WHERE USER_ID = #{id}
    </delete>

    <select id="findUserByUserId" resultType="com.threeNerds.basketballDiary.mvc.domain.User">
        SELECT USER_ID
             , USER_SEQ
          FROM USER
         WHERE USER_ID = #{userId}
    </select>

    <update id="updatePassword" parameterType="com.threeNerds.basketballDiary.mvc.dto.loginUser.PasswordDTO">
        UPDATE USER
        SET PWD=#{curPassword}
        WHERE USER_SEQ=#{userSeq}
    </update>
</mapper>