<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.team.repository.dto.PlayerRepository">

    <select id="findPlayers" resultType="com.threeNerds.basketballDiary.mvc.team.dto.PlayerDTO">
        SELECT A.TEAM_JOIN_REQUEST_SEQ
               , A.REQUEST_DATE
               , A.JOIN_REQUEST_STATE_CODE
               , A.CONFIRMATION_DATE
               , B.NAME
               , B.EMAIL
               , B.POSITION_CODE
               , B.HEIGHT
               , B.WEIGHT
          FROM TEAM_JOIN_REQUEST A
         INNER JOIN USER B
            ON A.USER_SEQ = B.USER_SEQ
         WHERE 1=1
           AND A.TEAM_SEQ = #{teamSeq}
           AND A.JOIN_REQUEST_TYPE_CODE = #{joinRequestTypeCode}
        <choose>
            <when test='joinRequestStateCode != "" and joinRequestStateCode != null'>
           AND A.JOIN_REQUEST_STATE_CODE = #{joinRequestStateCode}
            </when>
            <otherwise>
           AND (A.JOIN_REQUEST_STATE_CODE = '01'
                OR A.JOIN_REQUEST_STATE_CODE = '03') /* 요청상태코드 : 대기중(01), 거절(03) */
            </otherwise>
        </choose>
    </select>
</mapper>
