<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.MyTeamRepository">

    <select id="findByUserSeqAndTeamSeq" resultType="com.threeNerds.basketballDiary.mvc.dto.MyTeamInfoDTO">
        SELECT A.TEAM_SEQ
             , A.TEAM_AUTH_CODE -- 팀정보 수정 권한을 위해
             , B.TEAM_NAME
             , B.TEAM_IMAGE_PATH
             , B.HOMETOWN
             , B.SIDO_CODE
             , B.SIGUNGU_CODE
             , B.INTRODUCTION
             , COUNT(A.USER_SEQ) OVER(PARTITION BY A.TEAM_SEQ) AS TOT_MEMBER
             , B.FOUNDATION_YMD
        FROM (SELECT * FROM TEAM_MEMBER WHERE WITHDRAWAL_YN != 'Y') A
                 JOIN TEAM B
                      ON A.TEAM_SEQ = B.TEAM_SEQ
        WHERE A.USER_SEQ = #{userSeq}
          AND A.TEAM_SEQ = #{teamSeq}
    </select>

    <select id="findAllByUserSeq" resultType="com.threeNerds.basketballDiary.mvc.dto.MyTeamInfoDTO">
        SELECT A.TEAM_SEQ
             , A.TEAM_AUTH_CODE -- 팀정보 수정 권한을 위해
             , B.TEAM_NAME
             , B.TEAM_IMAGE_PATH
             , B.HOMETOWN
             , B.SIDO_CODE
             , B.SIGUNGU_CODE
             , B.INTRODUCTION
             , COUNT(A.USER_SEQ) OVER(PARTITION BY A.TEAM_SEQ) AS TOT_MEMBER
             , B.FOUNDATION_YMD
        FROM (SELECT * FROM TEAM_MEMBER WHERE WITHDRAWAL_YN != 'Y') A
                 JOIN TEAM B
                      ON A.TEAM_SEQ = B.TEAM_SEQ
        WHERE A.USER_SEQ = #{userSeq}
    </select>

</mapper>