<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.PlayerRepository">

    <select id="findPlayers" resultType="com.threeNerds.basketballDiary.mvc.dto.PlayerDTO">
        SELECT A.TEAM_JOIN_REQUEST_SEQ
               , A.REQUEST_DATE
               , A.JOIN_REQUEST_STATE_CODE
               , A.CONFIRMATION_DATE
               , B.NAME
               , B.EMAIL
               , B.POSITION_CODE
               , B.HEIGHT
               , B.WEIGHT
          FROM TEAM_JOIN_REQUEST A
         INNER JOIN USER B
            ON A.USER_SEQ = B.USER_SEQ
         WHERE 1=1
           AND A.TEAM_SEQ = #{teamSeq}
           AND A.JOIN_REQUEST_TYPE_CODE = #{joinRequestTypeCode}
        <if test='joinRequestStateCode != "00"'>
            AND A.JOIN_REQUEST_STATE_CODE = #{joinRequestStateCode}
        </if>
    </select>
</mapper>
