<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeNerds.basketballDiary.mvc.repository.UserTeamManagerRepository">

    <select id="findJoinRequestsByType" resultType="com.threeNerds.basketballDiary.mvc.dto.loginUser.userTeamManager.JoinRequestDTO">
        SELECT A.TEAM_JOIN_REQUEST_SEQ  /* 팀가입요청SEQ */
             , A.JOIN_REQUEST_TYPE_CODE /* 팀가입요청유형코드 */
             , A.JOIN_REQUEST_STATE_CODE /* 팀가입요청상태코드 */
             , A.REQUEST_DATE           /* 가입요청일시 */
             , B.TEAM_NAME              /* 팀명 */
             , B.HOMETOWN               /* 연고지 */
             , B.FOUNDATION_YMD         /* 창립일자 */
             , C.NAME AS LEADER_NAME    /* 팀장이름 */
          FROM TEAM_JOIN_REQUEST A
         INNER JOIN TEAM B
            ON A.TEAM_SEQ = B.TEAM_SEQ
         INNER JOIN USER C
            ON B.LEADER_USER_SEQ = C.USER_SEQ
         WHERE 1=1
           AND A.USER_SEQ = #{userSeq}
           AND A.JOIN_REQUEST_TYPE_CODE = #{joinRequestTypeCode}
    </select>
</mapper>